<div>
  <%= attachment_image_tag @bar, :image %>
  <p>ショップ名：<%= @bar.bar_name %></p>
  <p>説明：<%= @bar.caption %></p>
  <p>ユーザーネーム：<%= @bar.user.name %></p>
  <p>投稿日時：<%= @bar.created_at.strftime('%Y/%m/%d') %></p>
  <% if @bar.user == current_user %>
  <%= link_to 'Edit', edit_bar_path(@bar) %>
  <%= link_to "Delete", bar_path(@bar), method: :delete %>
  <% end %>

</div>