<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
        <%= render 'info', user: current_user %>

    </div>
　　　<% @bars.each do |bar| %>
　　<div>
  　　　<%= link_to bar_path(bar.id) do %>
  　　<%= attachment_image_tag bar, :image, :fill, 400, 400  %>
  　　<% end %>
  　<p>店名：<%= bar.bar_name %></p>
  　<p>説明：<%= bar.caption %></p>
  　<p>ユーザーネーム：<%= bar.user.name %></p>
　　</div>
　　<% end %>
　<%= paginate @bars %>

